body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

/* nagłówek */
header {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

/* menu */
nav {
    background: #222;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* sekcje */
section {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* zdjęcia */
img {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
}

/* stopka */
footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
    margin-top: 20px;
}